.container {
  background-color: #f3f4f6;
  min-height: 100dvh;
}
.show{
  background-color:  rgba(0,0, 0, .3);
}


input.form-control,
textarea.form-control,
select.form-select {
  background-color: #f1f1f1;
  border-radius: .5rem;
  border: .05rem solid transparent;
  font-size: .9rem;
  padding: .5rem 1.1rem;
  transition: all 0.2s ease;
  
}
.btn-outline-dark:hover {
  background-color: #e0e0e0;
  color: #000;
}

.table-scroll-y {
  max-height: 32rem;
  overflow-y: auto;
}
  /*
.table-scroll-filters {
  max-height: calc(100vh - 14rem);
  overflow-y: auto;
} */
.table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}
.bg-verde {
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.btn-verde{
  color: #0affa0;

}
 .bg-rojo {
  background-color: #ff1010a0;
  color: #fff;
  border-radius: .3rem;
}

.form-check-input:checked{
  background-color: #0dcca0;
  border-color: #0acca0;
}

.dropdown-menu{
    background-color:#ffffff !important;
    border-radius:.3rem !important;
}

.dropdown-item{
  transition: all 0.2s;
}

.dropdown-item:hover{
    background-color: rgba(0,0,0, .1);
} 
.dropdown-item:focus{
    background-color:#0b5ed7;
    color:white;
}
.th-nowrap {
  white-space: nowrap;
}

.bg-blue th {
  background-color: #e3f2fd !important;
  color: #0d47a1 !important;
  font-weight: bold !important;
}
.btn-blue{
  background-color: #1e88e5;
  color: white;
}

.btn-blue:hover{
  background-color: #e3faff;
}

.blue-title{
  color: #1e88e5;

}
.wrap-text td{
  white-space: normal;
  word-break: break-word;
}

.bg-blue-light{
  background-color: #e3f2fd;
  color: #0d47a1;
}

.z-index-notify {
  z-index: 9999;
}
.notify{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    
    width: 90%;
    max-width: 32rem;

    z-index: 9999;
}

.dropdown-scroll{
    max-height: 20rem;
    overflow-y: auto;
}

.btn-light-hover {
  background-color: transparent;
  color: #000000;
  transition: all 0.2s ease;
  border: 0;
  border-radius: .2rem;
}

.btn-light-hover:hover {
  background-color: #d8d9da;  /* Gris muy claro */
  color: #000000;
}